<a href="https://colab.research.google.com/github/simecek/dspracticum2021/blob/main/lesson02/A_Short_Intro_To_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A Short Introduction To Python

This introduction is recommended for coders coming from other language (e.g. `R`). I expect you to already know concept like a lists, conditional statements, loops or functions.   

There is a plenty of material online to get oriented in Python. For example, skim Learn Python in ... minutes
https://learnxinyminutes.com/docs/python/ and try do do the exercises below. If you stack, ask for help (do not waste time). There are no wrong questions. Please, work in pairs - only the person with less experience is allowed to touch the keyboard.

To start with, please, copy this notebook into your GDrive (from menu select File -> Save a copy in drive).

## Python Basic

1) Save a number 3 into a variable `a` and print it

*Expected output:*

3

2) Take the radius of a circle in a variable `r` and calculate the area:

*Input:*

`r = 1.2`

*Output:*

`Area = 4.523893421169302`

In [10]:
import math
r = 1.2

# YOUR CODE

3) Simulate throwing a dice (return a random number between 1 and 6).

## Strings

1) Write a Python program to calculate the length of a string.

*Input:*

`s = 'OMG!`

*Output:*

4

3) Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.

*Sample Strings* : 'abc', 'xyz'

*Expected Result* : 'xyc abz'

In [ ]:
s1 = 'abs'
s2 = 'xyz'

# YOUR CODE

3) Write a Python program to count the number of characters (character frequency) in a string. (hint: try Counter from collections module)

*Input* : 'google.com'

*Output* : {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

# Lists

1) Write a Python program to get the smallest, the largest number from a list and a sum of a list.

*Input:* [3, 8, 1, 9]

*Output:* 1, 9, 21

2) Write a Python program to print a list from 2nd to 3rd element and the last element.

*Sample List:* ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

*Expected Output:* ['Green', 'White', 'Yellow']

3) Write a Python program to print a every second element of a list in a reverse order. 

*Input:* [8, 4, 3, 6, 7]

*Output: [7, 3, 8]*

In [30]:
a = [8, 4, 3, 6, 7]

4) Write a Python program to print the numbers of a specified list after removing even numbers from it. (hint: search for list comprehensions)

*Input*: [8, 4, 3, 5, 7]

*Output*: [3, 5, 7]

In [31]:
a = [8, 4, 3, 5, 7]

## Dictionary

1) Write a Python script to add a key to a dictionary.

*Sample Dictionary:* `{0: 10, 1: 20}`

*Expected Result:* `{0: 10, 1: 20, 2: 30}`

2) Write a Python script to check whether a given key `"default"` already exists in a dictionary.

*Sample Dictionary*: `d = {'default': 0, 'extra': 1}`

*Expected Output*: True

3) Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form `(x, x*x)`. (*hint*: to generate through numbers 1..N, use `range(1, N+1)`)

*Sample Dictionary*: (n = 5)

*Expected Output*: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
n = 5

## Conditional statements and loops

1) Write a Python program to construct the following pattern, using a loop.

``` 
* * * * * 
* * * * 
* * * 
* * 
*
```

2) Write a Python program to count the number of even and odd numbers from a series of numbers.

*Sample numbers*: numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 

*Expected Output*:

Number of even numbers : 4

Number of odd numbers : 5

3) Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

*Sample Output*:
```
fizzbuzz
1
2
fizz
4
buzz
```

4) Write a Python program which takes two digits m (row) and n (column) as input and generates a "two-dimensional" list. The element value in the i-th row and j-th column of the array should be i*j. 

*Test Data*: Rows = 3, Columns = 4

*Expected Result*: [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

## Functions

1) Write a Python program to reverse a string.

*Sample String*: "1234abcd"

*Expected Output*: "dcba4321"

In [ ]:
s = "1234abcd"

def reverse_string(x):
  # YOUR CODE

reverse_string(s)

2) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

*Input:* 4

*Expected output:* 24

In [ ]:
i = 4

def factorial(x):
  # YOUR CODE

factorial(i)

3) Write a Python function that takes a list and returns a new list with unique elements of the first list.

*Sample List*: [1,2,3,3,3,3,4,5]

*Unique List*: [1, 2, 3, 4, 5]

In [ ]:
a = [1,2,3,3,3,3,4,5]

def unique_list(x):
  # YOUR CODE

unique_list(a)

## Numpy Arrays

1)  Create a 1D array of numbers from 0 to 9

*Output:* `array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])`

In [ ]:
import numpy as np

2) Find how to generate an array N x M of random numbers, zeroes, ones and how to get a shape (a dimension) of an array.

Generate an array 10x20 of random numbers between 0 and 1 anbd calculate a sum of each row.

3) Replace all odd numbers in array with -1

*Input*: arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

*Output*: array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [ ]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

4) Convert a 1D array to a 2D array with 2 rows

*Input*: array([ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

*Output*: array([[0, 1, 2, 3, 4],
                [5, 6, 7, 8, 9]])

5) Get the positions where elements of a and b match

*Input*:
```
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
```

*Output*:

`array([1, 3, 5, 7])`

6)  Swap columns 1 and 2 in the array

*Input:*

```
array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])
```

*Output:*

```
array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])
```

In [ ]:
arr = np.arange(9).reshape(3,3)

## Pandas

1) Read CSV file from http://raw.githubusercontent.com/resbaz/r-novice-gapminder-files/master/data/gapminder-FiveYearData.csv into DataFrame `df`. Use 'country' as an index column. Print first 5 lines of `df`.

In [26]:
import pandas as pd

2) Print all information in the dataframe about "Czech Republic". Print only life expectancy progression in the Czech Republic (columns `year` and `lifeExp`).

3) Print the value in the third row, second column.

*Expected output*: 31.997

4) Print all information from the year 2007.

5) Find the country with the largest GDP per capita in 2007.

6) In the year 2007, calculate the average life expectancy per continent (ignore a population size).

## Acknowledgement

In preparation of this notebook, I have used and adapted materials from [W3 Python Tutorial Exercises](https://www.w3resource.com/python-exercises/), [101 NumPy Exercises for Data Analysis](https://www.machinelearningplus.com/python/101-numpy-exercises-python/) and [Software Carpentry workshop Python for Novices](https://ucsbcarpentry.github.io/2019-10-10-Python-UCSB/08-data-frames/).